<p>MEUS CLIENTES</p>

<a class="btn btn-dark" routerLink="cadastrar">Novo</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">CPF</th>
      <th scope="col">Observações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <th scope="row">{{ cliente.id }}</th>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.email}}</td>
      <td>{{ cliente.cpf }}</td>
      <td>{{ cliente.observacoes }}</td>
    </tr>
  </tbody>
</table>
