<p>MEUS CLIENTES</p>

<a class="btn btn-dark" routerLink="cadastrar">Novo</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">CPF</th>
      <th scope="col">Observações</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <th scope="row">{{ cliente.id }}</th>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.email}}</td>
      <td>{{ cliente.cpf }}</td>
      <td>{{ cliente.observacoes }}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Ações
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Editar</a></li>
            <li><a class="dropdown-item" (click)="confirmar(cliente.id)">Remover</a></li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
